#
# Modbus Example Configuration
#
CONFIG_ENV_GPIO_RANGE_MIN=0
CONFIG_ENV_GPIO_RANGE_MAX=39
CONFIG_ENV_GPIO_IN_RANGE_MAX=39
CONFIG_ENV_GPIO_OUT_RANGE_MAX=33
CONFIG_MB_UART_PORT_NUM=2
CONFIG_MB_UART_BAUD_RATE=9600
CONFIG_MB_UART_RXD=5
CONFIG_MB_UART_TXD=17
CONFIG_MB_UART_RTS=16
CONFIG_MB_COMM_MODE_RTU=y
# CONFIG_MB_COMM_MODE_ASCII is not set
# end of Modbus Example Configuration

